<div class="portfolio">
  <div class="slider">
    <img class="active" src="https://source.unsplash.com/gKk9rpyDryU">
    <img src="https://source.unsplash.com/gKk9rpyDryU">
    <img src="https://source.unsplash.com/gKk9rpyDryU">
  </div>
  <nav class="slider-nav">
    <ul>
      <li class="arrow">
        <button id="previous" class="previous">
          <span>
            <p>Previous</p>
          </span>
        </button>
      </li>
      <li class="arrow">
        <button id="next" class="next">
          <span>
            <p>Next</p>
          </span>
        </button>
      </li>
    </ul>
  </nav>
</div>